<div class="logo">
  <a href="{{shop.url}}" title="{{ shop.name | escape }}">
    {%- assign _logo = "fastor4logo.png" | asset_img_url: 'master'  -%}
    {%- if section.settings.main_logo != blank -%}
    {%- assign _logo = section.settings.main_logo | img_url: 'master' -%}
    {%- endif -%}
    <img src="{{ _logo }}"{{' '}}{%-if section.settings.logo_max_width != blank -%}style="max-width:{{section.settings.logo_max_width}}px;"{%-endif-%}{{' '}}title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
 </a>
</div>